
body {
    font-family: 'Tahoma', sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl;
    background-color: #dbd9d9;
    color: #333;
    font-size: 20px;
      line-height: 1.5;
  
}

.header-image {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

h1 {
  font-size: 50px;
  font-weight: bold;
     }


.overlay {
    position: absolute;
    top: 30px;
    right: 20px;
    background: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
}

.logo {
    width: 80px;
    display: block;
    margin: 0 auto 10px;
}

.hero {
    position: relative;
    text-align: center;
    color: #2f2f2f;
}

h1, h2 {
    color: #8c6300;
}
video {
  width: 100%;
  height: auto;
  display: block;
}


video {
    width: 100%;
    height: auto;
    display: block;
  }




section {
    padding: 30px;
    margin: 30px auto;
    max-width: 900px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.social-icons h2 {
  margin-bottom: 20px;
  color: #8c6300;
}

.social-icons a {
  text-decoration: none;
  display: block;
  margin-bottom: 0px;
  font-size: 18px;
  color: #0e06a2;
}

.social-icons i {
  margin-left: 10px;
  font-size: 20px;
}

/* ألوان المنصات */
.fa-facebook { color: #1877F2; }
.fa-instagram { color: #E1306C; }
.fa-youtube { color: #FF0000; }
.fa-tiktok { color: #000000; }
.fa-x-twitter { color: #000000; }
.fa-whatsapp { color: #25D366; }



ul {
    list-style: none;
    padding: 0;
}

ul li::before {
    content: "✔ ";
    color: green;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #eee;
    margin-top: 20px;
    font-size: 14px;
}
